.footer-top__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
}

@media (max-width: 852px) {
  .footer-top__body {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 585px) {
  .footer-top__body {
    grid-template-columns: 1fr;
  }
}