.nav_place_header {
  justify-self: center;
  margin-left: 9%;
}

@media (max-width: 1900px) {
  .nav_place_header {
    margin-left: 8%;
  }
}

@media (max-width: 1850px) {
  .nav_place_header {
    margin-left: 6%;
  }
}

@media (max-width: 1800px) {
  .nav_place_header {
    margin-left: 5%;
  }
}

@media (max-width: 1750px) {
  .nav_place_header {
    margin-left: 4%;
  }
}

@media (max-width: 1500px) {
  .nav_place_header {
    margin-left: 2%;
  }
}

@media (max-width: 1300px) {
  .nav_place_header {
    margin-left: 1%;
  }
}

@media (max-width: 1250px) {
  .nav_place_header {
    margin-left: 0;
  }
}

@media (max-width: 852px) {
  .nav_place_header {
    order: 2;
    padding-top: 30px;
    min-width: 50%;
  }
}