.page-switcher__link {
  text-decoration: none;
  color: inherit;
  line-height: 38px;
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 6px 0px #171717;
}

.page-switcher__link:hover {
  box-shadow: 2px 2px 3px 0px #171717;
}

.page-switcher__link:active {
  box-shadow: inset 1px 1px 3px 0px #171717;
}

@media (max-width: 364px) {
  .page-switcher__link {
    line-height: 30px;
  }
}