.search-form_place_header {
  flex: 0 1 20%;
  max-width: 150px;
}

@media (max-width: 852px) {
  .search-form_place_header {
    order: 1;
    align-self: center;
    min-width: 50%;
    padding-top: 30px;
    flex: 0 1 auto;
    max-width: 50%;
  }
}