.footer-top__right-column {
  justify-self: end;
}

@media (max-width:852px) {
  .footer-top__right-column {
    justify-self: start;
  } 
}

@media (max-width: 585px) {
  .footer-top__right-column {
    padding-top: 40px;
  }
}