.most-popular {
  grid-column: 1/4;
  padding-bottom: 80px;
}

@media (max-width:1231px) {
  .most-popular {
    grid-column: 1/3;
  } 
}

/* @media (max-width: 852px) {
  .most-popular {
    grid-column: 1/2;
  }
} */