.header__body {
  position: relative;
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (max-width:1231px) {
  .header__body {
    height: 70px;
  } 
}
