/* .page {
  min-width: 1100px; */
/* мы ещё не умеем делать мобильную версию сайта, */
/* поэтому выше установлена минимальная ширина страницы */
/* max-width: 1600px; */
/* выше установили ограничение по максимальной ширине */
/* margin: 0 auto; */
/* выше для экранов больше 1600px отцентрировали весь контент */
/* font-family: "Helvetica Neue", Arial, sans-serif;
} */

.page {
  font-family: "PT Sans", Arial, sans-serif;
  /* max-width: 1920px;
  min-width: 1200px; */
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  /* align-items: center; */
}

.link-effect {
  transition: opacity 0.5s linear;
  transition: box-shadow 0.5s linear;
}

.link-effect:hover {
  color:red;
  opacity: 0.7;
  box-shadow: 3px 3px 5px #666;
}

.header {
  grid-column: 1/6;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: #000;
  height: 90px;
  /* position: sticky; */
  /* top: 0; */
  /* z-index: 1; */
  column-gap: 1em;
  justify-content: space-evenly;
}

.logo {
  color: #fff;
  text-decoration: none;
}

.logo__image {
  width: 54px;
}

.logo__text {
  padding: 3px 5px;
  font-size: 14px;
  border-radius: 3px;
  font-weight: 400;
  line-height: 16.8px;
  background-color: #4a90e2;
  text-transform: uppercase;
}

.nav {
  width: 368px;
  display: flex;
  justify-content: space-between;
  font-family: PT Sans, Arial, sans-serif;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  line-height: 18.12px;
  font-size: 14px;
  font-weight: 400;
}

.search-form {
  display: flex;
  width: 150px;
}

.search-form__icon {
  width: 16px;
  height: 17px;
}

.search-form__button {
  background-color: #000;
  border: none;
  width: 16px;
  height: 17px;
  margin-right: 10px;
}

.search-form__input {
  width: 120px;
}

.three-columns {
  min-width: 1200px;
  padding: 40px 0 75px;
  grid-column: 2/5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* repeat(auto-fill, minmax(340px, 1fr)); */
  gap: 28px;
  grid-template-rows: 265px 265px;
}

.card {
  color: #fff;
  position: relative;
}

.card_size_large {
  min-height: 500px;
  margin-bottom: 200px;
}

.card_height_2col {
  grid-row: auto/ span 2;
}

.card_place_aside-top {
  padding-bottom: 60px;
}

.card_place_popular-posts {
  margin-bottom: 39px;
}

.card_place_most-popular {

}

.card__link {
  color: #fff;
  text-decoration: none;
}

.card__wrapper-image {
  height: 100%;
  width: 100%;
  position: absolute;
}

.card__wrapper-image_place_aside-top {
  display: contents;
  width: 80%;
}

.card__wrapper-image_place_popular-posts {
  position: static;
  height: 200px;
}

.card__wrapper-image_place_most-popular {
  position: static;
  /* height: 200px; */
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.card__wrapper-text_place_most-popular {

}

.card__text {
  position: relative;
  height: 100%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 2%;
}

.card__text_background_white {
  background-color: #fff;
  color: #000;
}

.card__text_place_large-card {
  position: absolute;
  width: 90%;
  bottom: -27%;
  left: 5%;
  padding: 30px 86px 30px 30px;
  display: block;
  height: auto;
  box-shadow: 0 0 5px -2px gray;
}

.card__text_place_aside-top {
  position: relative;
  padding: 0;
  margin-top: 20px;
}

.card__text_place_popular-posts {
  padding: 0;
  margin-top: 20px;
  height: auto;
}

.card__text_place_most-popular {
  padding: 0;
  margin-top: 20px;
}

.card__tag {
  width: min-content;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.5px;
  padding: 4px 12px 2px 12px;
  background-color: #4a90e2;
  border-radius: 10%;
  margin: 0;
}

.card__tag_place_large-card {
  margin-bottom: 20px;
  color: #fff;
}

.card__tag_place_popular-posts {
  position: absolute;
  top: 20px;
  left: 20px;
}

.card__tag_place_popular-posts {

}

.card__wrapper-text {
}

.card__author {
  min-width: 165px;
  font-size: 12px;
  line-height: 18px;
  display: block;
  margin: 0;
}

.card__author_background_white {
  color: #666;
}

.card__author_place_large-card {
  margin-bottom: 14px;
}

.card__author_place_aside-top {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 18px;
}

.card__author_place_popular-posts {
  font-size: 14px;
}

.card__author_place_most-popular {

}

.card__annotation {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.card__annotation_background_white {
  color: #666;
}

.card__annotation_place_aside-top {
  margin-bottom: 21px;
  font-size: 15px;
  line-height: 25px;
}

.card__datetime::before {
  content: " - ";
}

.card__heading {
  font-size: 26px;
  font-weight: bold;
  line-height: 36px;
  margin: 0;
  padding-top: 6px;
}

.card__heading_background_white {
  color: #171717;
}

.card__heading_place_large-card {
  line-height: 28px;
  font-size: 25px;
  padding: 0;
  margin-bottom: 15px;
}

.card__heading_place_aside-top {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 8px;
}

.card__heading_place_popular-posts {
  padding: 0;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 28px;
}

.card__heading_place_most-popular {

}

.button {
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_place_footer_top {
  background-color: #232323;
}

.button__icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.column {
  grid-column: 2/4;
}

.aside-content {
  grid-column: 4/5;
  padding-left: 100px;
}

.aside-content__title {
  margin: 0 0 25px 0;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
}

.instagram {
  padding-bottom: 60px;
}

.instagram__images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 130px);
  gap: 10px;
  margin-bottom: 10px;
}

.instagram__image-link {
}

.instagram__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3%;
}

.tags {
  padding-bottom: 65px;
}

.tags__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  
}

.tags__link-wrapper {
  margin: 0 10px 20px 0;
  height: fit-content;
}

.tags__link-wrapper:last-child {
  margin: 0;
}

.tags__link {
  padding: 7px 16px 5px 16px;
  background-color: #ebebeb;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}

.subscribe {
  padding-bottom: 65px;
}

.subscribe__form {
  border: 0;
}

.subscribe__form_place_footer {
  padding-top: 38px;
  width: 270px;
}

.subscribe__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.subscribe__legend {
  font-size: 14px;
  line-height: 24px;
  color: #666;
  margin-bottom: 27px;
}


.subscribe__input-line {
  height: 50px;
  width: 100%;
  margin: 0 0 10px 0;
  border: 1px solid #E5E5E5;
  padding: 0 15px 0;
  box-sizing: border-box;
}

.subscribe__input-line_place_footer-top {
  border: none;
  background-color: #373737;
  color: #AEB3BB;
}

.page-switcher {
  width: 50%;;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 80px 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 40px);
  grid-template-rows: 40px;
  gap: 10px;
}

.page-switcher__item {
  font-size: 16px;
  line-height: 16px;
  width: 38px;
  height: 38px;
  border: 1px solid #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #171717;
  
}

.page-switcher__item_deactivated {
  color: #bbb;
}

.page-switcher__link {
  text-decoration: none;
  color: inherit;
}

.page-switcher__item_selected {
  color: #fff;
  background-color: #000;
}

.most-popular {
  grid-column: 2/5;
  padding-bottom: 80px;
}

.most-popular__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.footer {
  grid-column: 1/6;
}

.footer-top {
  background-color: #171717;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 65px 0 0 0;
}

.footer-top__left-column {
  grid-column: 2/3;
  padding-right: 129px;
}

.footer-top__center-column {
  grid-column: 3/4;
  padding-right: 129px;
}

.footer-top__right-column {
  grid-column: 4/5;
}

.logo_place_footer {
  color: white;
}


.footer-top__about {
  color: #cecece;
  font-size: 14px;
  line-height: 22px;
  margin: 30px 0 64px;
}


.footer-top__title {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
}

.footer-top__social-links {
  padding: 23px 0 0 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 34px);
  grid-template-rows: 34px;
  gap: 15px;
}

.footer-top__social-link {
  display: block;
  height: 34px;
  width: 34px;
  background-color: #373737;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-top__instagram-icon {
  width: 17px;
  height: 17px;
}

.footer-top__cards {
  padding: 28px 0 0 0;
}

.card_place_footer-top {
  margin-bottom: 25px;
}

.card_place_footer-top:last-child {
  margin-bottom: 0;
}

.card__link_place_footer-top {
  display: flex;
}

.card__wrapper-image_place_footer-top {
  width: 95px;
  height: 95px;
  position: static;
  margin: 0 20px 0 0;
}


.card__text_place_footer-top {
  padding: 0;
  width: 178px;
}


.card__heading_place_footer-top {
  font-size: 15px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 13px;
  padding: 0;
}


.card__author_place_footer-top {
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
}

.footer-bottom {
  min-height: 94px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #000;
  align-items: center;
}

.footer-bottom__copiright {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  grid-column: 2/3;
  color: #fff;
  margin: 0;
}


.nav_place_footer-bottom {
  grid-column: 4/5;
}

.nav__link {
}


.italic {
  font-style: italic;
}
