.aside-content {
  grid-column: 3/4;
  padding-left: 100px;
}

@media (max-width:1231px) {
  .aside-content {
    grid-column: 1/3;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
  } 
}

@media (max-width: 585px) {
  .aside-content {
    grid-template-columns: 1fr;
  }
}