.search-form__button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.search-form__button:hover {
  cursor: pointer;
}

@media (max-width: 852px) {
  .search-form__button {
    width: 35px;
  }
}